# Assignment 5B - Python

In [1]:
txt = " abc def ghi "
print(txt.strip())

abc def ghi

# Using Escape Character

In [2]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (739327747.py, line 2)

In [3]:
#Using escape character to allow illegal characters 
mystr = "My favourite series is \"Game of Thrones\"" print(mystr)

SyntaxError: invalid syntax (4239087387.py, line 2)

# List Data Structure

In [5]:
list1 = [] # Empty List
print(type(list1))

<class 'list'>

In [12]:
list2 = [10,30,60] # List of integers numbers
list3 = [10.77,30.66,60.89] # List of float numbers
list4 = ['one','two' , "three"] # List of strings
list5 = ['Asif', 25 ,[50, 100],[150, 90]] # Nested Lists
list6 = [100, 'Asif', 17.765] # List of mixed data types
list7 = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]

In [13]:
print(len(list6)) #Length of list

3

# List Indexing

In [14]:
list2[0] # Retreive first element of the list

10

In [15]:
list4[0] # Retreive first element of the list

'one'

In [16]:
list4[0][0] # Nested indexing - Access the first character of the first list

'o'

In [17]:
list4[-1] # Last item of the list

'three'

In [18]:
list5[-1] # Last item of the list

[150, 90]

# List Slicing

In [19]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']
mylist[0:3] # Return all items from 0th to 3rd index location excluding the item

['one', 'two', 'three']

In [20]:
mylist[2:5] # List all items from 2nd to 5th index location excluding the item

['three', 'four', 'five']

In [21]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [22]:
mylist[:2] # Return first two items

['one', 'two']

In [23]:
mylist[-3:] # Return last three items

['six', 'seven', 'eight']

In [24]:
mylist[-2:] # Return last two items

['seven', 'eight']

In [25]:
mylist[-1] # Return last item of the list

'eight'

In [26]:
mylist[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# Add , Remove & Change Items

In [27]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [28]:
mylist.append('nine') # Add an item to the end of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [29]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [30]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [31]:
mylist.remove('ONE') # Remove item "ONE"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [32]:
mylist.pop() # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [33]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [34]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [35]:
# Change the value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [36]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

In [37]:
del mylist # Delete the whole list
mylist

NameError: name 'mylist' is not defined

# Copy List

In [39]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
mylist1 = mylist # Create a new reference "mylist1"
print(mylist1)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [41]:
print(id(mylist),id(mylist1)) # The address of both mylist & mylist1 will be the same

2575121196352 2575121196352

In [42]:
mylist2 = mylist.copy() # Create a copy of the list
id(mylist2) # The address of mylist2 will be different from mylist because mylist

2575121180672

In [44]:
mylist[0] = 1
print(mylist)

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [45]:
print(mylist1) # mylist1 will be also impacted as it is pointing to the same list
print(mylist2) # Copy of list won't be impacted due to changes made on the original list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

# Join Lists

In [46]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']
list3 = list1 + list2 # Join two lists by '+' operator
print(list3)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [47]:
list1.extend(list2) #Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# List Membership

In [48]:
print(list1)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [49]:
'one' in list1 # Check if 'one' exist in the list

True

In [50]:
'ten' in list1 # Check if 'ten' exist in the list

False

In [52]:
if 'three' in list1: # Check if 'three' exist in the list
    print('Three is present in the list')
else:
    print('Three is not present in the list')

Three is present in the list

In [53]:
if 'eleven' in list1: # Check if 'eleven' exist in the list
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

eleven is not present in the list

# Reverse & Sort List

In [54]:
print(list1)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [55]:
list1.reverse() # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [56]:
list1 = list1[::-1] # Reverse the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [57]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order
print(mylist3)

[2, 5, 9, 12, 34, 88, 99]

In [58]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # Sort list in descending order
print(mylist3)

[99, 88, 34, 12, 9, 5, 2]

In [59]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4)
# Returns a new sorted list and doesn't change original

[11, 21, 33, 65, 88, 98]

In [60]:
mylist4

[88, 65, 33, 21, 11, 98]

# Loop through a list

In [62]:
print(list1)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [63]:
for i in list1: 
    print(i)

one
two
three
four
five
six
seven
eight

In [64]:
for i in enumerate(list1): 
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Count

In [65]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']
print(list10)

['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [66]:
list10.count('one') # Number of times item "one" occurred in the list.

3

In [67]:
list10.count('two') # Occurence of item 'two' in the list

2

In [68]:
list10.count('four') #Occurence of item 'four' in the list

1

# All/Any

In [70]:
L1 = [1,2,3,4,0]
print(all(L1)) # Will Return false as one value is false (Value 0)
print(any(L1)) # Will Return True as we have items in the list with True value

False
True

In [71]:
L2 = [1,2,3,4,True,False]
print(all(L2)) # Returns false as one value is false
print(any(L2)) # Will Return True as we have items in the list with True value

False
True

In [72]:
L3 = [1,2,3,True]
print(all(L3)) # Will return True as all items in the list are True

True