# Assignment 8 - Python

# Dictionary

Dictionary
Dictionary is a mutable data type in Python.
A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}.
Keys must be unique in a dictionary, duplicate values are allowed.

In [1]:
mydict = dict() # empty dictionary
mydict

{}

In [2]:
mydict = {} # empty dictionary
mydict

{}

In [3]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [4]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [5]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [6]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [7]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [8]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [9]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [10]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [13]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'ca')}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria'], 'B': ('Bat', 'ca')}

In [14]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}, 'B':('Bat' , 'ca')}
mydict

{1: 'one', 2: 'two', 'A': {'Name': 'asif', 'Age': 20}, 'B': ('Bat', 'ca')}

In [15]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'a': None, 'b': None, 'c': None, 'd': None}

In [17]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = 10
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'a': 10, 'b': 10, 'c': 10, 'd': 10}

In [18]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'a': [10, 20, 30], 'b': [10, 20, 30], 'c': [10, 20, 30], 'd': [10, 20, 30]}

In [19]:
value.append(40) 
mydict3

{'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

# Accessing Items

In [20]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [21]:
mydict[1] # Access item using key

'one'

In [22]:
mydict.get(1) # Access item using get() method

'one'

In [23]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [24]:
mydict1['Name'] # Access item using key

'Asif'

In [25]:
mydict1.get('job') # Access item using get() method

'Analyst'

# Add, Remove & Change Items

In [26]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [27]:
mydict1['DOB'] = 1992 # Changing Dictionary Items
mydict1['Address'] = 'Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [28]:
dict1 = {'DOB':1995}
mydict1.update(dict1) 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [29]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [30]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [31]:
mydict1.popitem() # A random item is removed

('Address', 'Delhi')

In [32]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [33]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [34]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [35]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

# Copy Dictionary

In [36]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [37]:
mydict1 = mydict # Create a new reference "mydict1"

In [38]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(2196057901888, 2196057901888)

In [39]:
mydict2 = mydict.copy() # Create a copy of the dictionary

In [40]:
id(mydict2) # The address of mydict2 will be different from mydict because mydic

2196057946752

In [41]:
mydict['Address'] = 'Mumbai'

In [42]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [43]:
mydict1 # mydict1 will be also impacted as it is pointing to the same dictionary

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [44]:
mydict2 # Copy of list won't be impacted due to the changes made in the original

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

# Loop through a Dictionary

In [45]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [46]:
for i in mydict1:
      print(i , ':' , mydict1[i]) # Key & value pair

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki

In [47]:
for i in mydict1:
      print(mydict1[i]) # Dictionary items

Asif
12345
1991
Hilsinki

# Dictionary Membership

In [48]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [49]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [50]:
'Asif' in mydict1 # Membership test can be only done for keys.

False

In [51]:
'ID' in mydict1

True

In [52]:
'Address' in mydict1

False

# All / Any

The all() method returns:
    True - If all all keys of the dictionary are true
    False - If any key of the dictionary is false
The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [53]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [54]:
all(mydict1) # Will Return false as one value is false (Value 0)

True