# Assignment 1 - Python

In [1]:
# Integer Variable

age = 35          # 'age' is a variable & it stores an integer value is 35
print(age)

35

In [2]:
# String Variable

name = 'Chandan'       # 'name' is a variable & storing a string is 'Chandan'
name

'Chandan'

In [3]:
# Float Variable

cost = 35.85          # 'cost' is a variable & storing a cost is 'floating value'
print(cost)

35.85

In [4]:
# Boolean Variable

is_active = True           # 'is_active' is a variable & storing a Boolean Value'
print(is_active)

True

In [5]:
# Storing and Print a value

# Storing the value 35 in a variable called 'x'
x = 35

# Printing the value of 'x'
print(x)

35

In [6]:
# Using Variables in Expressions

# Assigning values to variables
a = 35
b = 85
# adding two variables and storing the result in 'result'
result = a+b

# printing the result
print(result)

120

In [10]:
# Changing the value of Variable

# Initial Value
score = 50
print("Initial value is ",score)

# Changing the value of 'score'
score = 100
print("Secondary value is ",score)

Initial value is  50
Secondary value is  100

In [11]:
# Concatenating Strings

# Assigning values to variables
first_name = 'Vihari'
last_name = 'Nandan'

# Concatenating strings and storing in a New variable
full_name = first_name + " " + last_name
print(full_name)

Vihari Nandan

In [12]:
# Using Variables in a Calculation

# Assiging values to variables
length = 10
width = 5

# Calculating the area of a rectangle
area = length * width
print(area)

50

In [13]:
# Reassigning Values to Variables

# Python allows to reassign a variable to a new value at any time

x = 10        # Initial value of x
print(x)

x = 20        # Reassigning the value of x
print(x)

10
20