# Assignment 4 - Python

In [5]:
# Prints is use of Answer

In [6]:
a = 10
b = 20
a
b

20

In [9]:
a = 10
b = 20
print("Value of a is", a)
print("Value of b is", b)

Value of a is 10
Value of b is 20

In [10]:
print(10)
print(10,20)
print('Vihari')
print(10,20,'Vihari')

10
10 20
Vihari
10 20 Vihari

In [11]:
num1 = 25
num2 = 35
num3 = num1 + num2
print("Result of num3 is ", num3)

Result of num3 is  60

# Print result with String

In [13]:
num1 = 20
num2 = 30
num3 = num1 + num2
print("The Addition of", num1, 'and', num2, "is", num3)

The Addition of 20 and 30 is 50

In [15]:
name = 'Vihari'
age = 3
city = 'Hyderabad'
print("Hello, my name is", name, 'and', "I am", age, "year old from", city)

Hello, my name is Vihari and I am 3 year old from Hyderabad

# Print Format Method

In [18]:
num1 = 20
num2 = 30
num3 = num1 + num2
print('The addition of {} and {} is {}'.format(num1,num2,num3))

The addition of 20 and 30 is 50

In [20]:
name = 'Vihari'
age = 3
city = 'Bangalore'
print('Hello my name is {} and I am {} year old from {}'.format(name,age,city))

Hello my name is Vihari and I am 3 year old from Bangalore

In [21]:
num1 = 100
num2 = 200
num3 = 333
avg = (num1+num2+num3)/3
print('Average of {}, {}, {} is {}'.format(num1,num2,num3,avg))

Average of 100, 200, 333 is 211.0

# End Statement

In [23]:
# We will use end statement that joint line from end of one string to starting of other string

print("Vihari", end=" ")
print("Nandan")

Vihari Nandan

# Separator

In [24]:
# One print statement onle we use
# Inside one print statement we have multiple values
# We want to separate these multiple values with anything

In [25]:
print('Hello', 'How are you', 'Bro', sep='---->')

Hello---->How are you---->Bro

In [28]:
print('Hello Vihari ', ' Chandan ', ' How are you',sep='&')

Hello Vihari & Chandan & How are you

In [29]:
print('Hello Vihari ', ' Chandan ', ' How are you',sep='@')

Hello Vihari @ Chandan @ How are you

In [30]:
print('Hello Vihari ', ' Chandan ', ' How are you',sep=' ')

Hello Vihari   Chandan   How are you

In [32]:
print(1,2,end=" ")
print(3,".",sep='')

1 2 3.

# Operators

In [33]:
# Arithmetic Operators
# Integers

print('Addition: ', 1 + 2)
print('Subtraction: ', 2 - 1)
print('Multiplication: ', 2 * 3)
print ('Division: ', 4 / 2)                         # Division in python gives floating number
print('Division: ', 6 / 2)
print('Division: ', 7 / 2)
print('Division without the remainder: ', 7 // 2)   # gives without the floating number or without the remaining
print('Modulus: ', 3 % 2)                           # Gives the remainder
print ('Division without the remainder: ', 7 // 3)
print('Exponential: ', 3 ** 2)                     # it means 3 * 3

Addition:  3
Subtraction:  1
Multiplication:  6
Division:  2.0
Division:  3.0
Division:  3.5
Division without the remainder:  3
Modulus:  1
Division without the remainder:  2
Exponential:  9

In [34]:
# Floating numbers
print('Floating Number,PI', 3.14)
print('Floating Number, gravity', 9.81)

Floating Number,PI 3.14
Floating Number, gravity 9.81

In [35]:
# Complex numbers
print('Complex number: ', 1 + 1j)
print('Multiplying complex number: ',(1 + 1j) * (1-1j))

Complex number:  (1+1j)
Multiplying complex number:  (2+0j)

In [36]:
# Declaring the variable at the top first
a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

In [37]:
# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

In [38]:
# I should have used sum instead of total but sum is a built-in function try to avoid overriding builtin functions
print(total) # if you don't label your print with some string, you never know from where is  the result is coming
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

5
a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

In [39]:
# Declaring values and organizing them together
num_one = 3
num_two = 4

In [40]:
# Arithmetic operations
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_two
remainder = num_two % num_one

In [41]:
# Printing values with label
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

total:  7
difference:  1
product:  12
division:  1.0
remainder:  1

In [42]:
# Calculating area of a circle
radius = 10                                 # radius of a circle
area_of_circle = 3.14 * radius ** 2         # two * sign means exponent or power
print('Area of a circle:', area_of_circle)

Area of a circle: 314.0

In [43]:
# Calculating area of a rectangle
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

Area of rectangle: 200

In [44]:
# Calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')

735.75 N

In [45]:
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2

True
True
False
True
True
False
True

In [46]:
print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False

False
True
True
False
True
True
False

In [47]:
# Boolean comparison
print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)
print('True and True: ', True and True)
print('True or False:', True or False)

True == True:  True
True == False:  False
False == False: True
True and True:  True
True or False: True

In [48]:
# Another way comparison 
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
print('A in Asabeneh', 'A' in 'Asabeneh') # True - A found in the string
print('B in Asabeneh', 'B' in 'Asabeneh') # False -there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')      # True
print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

1 is 1 True
1 is not 2 True
A in Asabeneh True
B in Asabeneh False
True
a in an: True
4 is 2 ** 2: True

<>:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:8: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:8: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\Windows10 Pro\AppData\Local\Temp\ipykernel_11728\4207222253.py:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print('1 is 1', 1 is 1)                   # True - because the data values are the same
C:\Users\Windows10 Pro\AppData\Local\Temp\ipykernel_11728\4207222253.py:3: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
C:\Users\Windows10 Pro\AppData\Local\Temp\ipykernel_11728\4207222253.py:8: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

In [49]:
print(3 > 2 and 4 > 3) # True - because both statements are true
print(3 > 2 and 4 < 3) # False - because the second statement is false
print(3 < 2 and 4 < 3) # False - because both statements are false
print(3 > 2 or 4 > 3)  # True - because both statements are true
print(3 > 2 or 4 < 3)  # True - because one of the statement is true
print(3 < 2 or 4 < 3)  # False - because both statements are false
print(not 3 > 2)     # False - because 3 > 2 is true, then not True gives False
print(not True)      # False - Negation, the not operator turns true to false
print(not False)     # True
print(not not True)  # True
print(not not False) # False

True
False
False
True
True
False
False
False
True
True
False